page-login {

img {
  height: 20vh;
  width: auto;
  margin: auto;
  display: block;
  margin-top: 2em;
  margin-bottom: 2em;
  }

h2 {
  text-align: center;
  }

.button-login {
  padding: 0 1em!important;
  height: 1.65em!important;
  font-size: 1.7rem!important;
  margin-top: 1em;
  }

.page {
    background: linear-gradient(to bottom,  #233769 0%, #0391B5 100%);
}


.item.item-trns {
	border-color: rgba(0, 0, 0, 0);
	background-color: rgba(0, 0, 0, 0);
  color: white; 
  
}

.login-input {
  max-width: 500px;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
}


}
