page-login {

    img {
        height: 20vh;
        width: auto;
        margin: auto;
        display: block;
    }

    h2 {
        text-align: center;
    }

    .button-login {
        padding: 0 1em!important;
        height: 1.65em!important;
        font-size: 1.7rem!important;
    }
}
