<ion-header>
  <ion-navbar>
    <ion-title>Einträge</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="presentPopover($event)" id="barButtonMore">
       <ion-icon name="more"></ion-icon>
     </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-infinite-scroll (ionInfinite)="infiniteEntries($event)">
    <ion-list>
      <ion-item *ngFor="let entry of entries" id="entriesItem{{entry.fields[parentImageReferenceField]}}">
        <h1 ion-text color="primary">{{entry.fields[titleField]}}</h1>
        <div *ngFor="let field of fields" class="entries-fields">{{field.name}} : {{entry.fields[field.name]}}</div>
        <button ion-button (click)="takePictureForEntry(entry.fields[parentImageReferenceField], entry.fields[titleField])" class="cameraButton" item-right>
          <ion-icon name="camera"></ion-icon>
        </button>
        <button ion-button (click)="getGalleryPictureForEntry(entry.fields[parentImageReferenceField], entry.fields[titleField])" class="galleryButton" item-right>
          <ion-icon name="image"></ion-icon>
        </button>
        <input type="file" id="fileUpload{{entry.fields[parentImageReferenceField]}}" (change)="fileSelected($event, entry.fields[parentImageReferenceField], entry.fields[titleField])" placeholder="Upload file" accept="image/*" style="display: none">
      </ion-item>
    </ion-list>
    <ion-infinite-scroll-content loadingText="Mehr Daten werden geladen..."></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>