page-entries {
  .drag {
    background: rgba(color($colors, primary), .1);
    border-style: dashed;
    border-radius: 10px;
    border-width: 2px;
    border-color: color($colors, primary),
  }

}
