<ion-header>
  <ion-navbar>
    <ion-title>
      {{entryTitle}}
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (tap)="takePicture()" color="primary">
       <ion-icon name="camera"></ion-icon>
     </button>
      <button ion-button icon-only (tap)="getGalleryPicture()" id="getGalleryPictureButton" color="primary">
       <ion-icon name="image"></ion-icon>
     </button>
    </ion-buttons>
  </ion-navbar>
  <ion-toolbar>
    <ion-segment [(ngModel)]="uploadSegment">
      <ion-segment-button value="metadata">
        Metadaten
      </ion-segment-button>
      <ion-segment-button value="image">
        Bild
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="detail-switch" [ngSwitch]="uploadSegment">
    <div class="detail-image-container" *ngSwitchCase="'image'">
      <img class="scaled-image" [src]="domSanitizer.bypassSecurityTrustUrl(image.fileURI)" />
    </div>
    <ion-list *ngSwitchCase="'metadata'" id="id-list">
      <form [formGroup]="fieldsForm">
        <div *ngFor="let field of fields">
          <ion-item>
            <ion-label>{{field.name}}<span *ngIf="field.mandatory" class="mandatory" id="mandatory{{field.name}}"> *</span></ion-label>
            <ion-input type="text" formControlName="{{field.name}}"></ion-input>
          </ion-item>
          <div class="invalid" *ngIf="!fieldsForm.controls[field.name].valid && (fieldsForm.controls[field.name].touched || fieldsForm.controls[field.name].dirty) " id="uploadFieldErrorDiv{{field.name}}">
            <p>{{getErrorMessage(fieldsForm.controls[field.name])}}</p>
          </div>
        </div>
      </form>
    </ion-list>
  </div>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <div class="thumbnail-image-container">
      <img class="scaled-image" [src]="domSanitizer.bypassSecurityTrustUrl(image.fileURI)" />
    </div>
  </ion-toolbar>
</ion-footer>
<ion-fab right bottom>
  <button ion-fab (tap)="uploadPicture()" color="secondary" id="uploadImageButton">
    <ion-icon name="send"></ion-icon>
  </button>
</ion-fab>