<ion-header>

  <ion-navbar>
    <ion-title>Image Fields Setting</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-searchbar (ionInput)="filterFields($event)"></ion-searchbar>
  <ion-list *ngFor="let field of fields">
    <ion-item *ngIf="field.display" class="fieldItem">
      <ion-label>{{field.name}}</ion-label>
      <ion-toggle [(ngModel)]="field.active" (ionChange)="notify(field.name, field.active)" id="settingsImageField{{field.name}}Toggle"></ion-toggle>
    </ion-item>
  </ion-list>
</ion-content>